# Markdowns
## Markdowns
### Markdowns
#### Markdowns

# insert site address
[site](http://ct3.gitam.edu/attendance/student/)

# insert image
![text](https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg)

# Python Basics:

python is a beginners language

python is easy to learn

# creating ordered list

1. abs
2. hsdf
    1. a
    2. b

# unordered list 
- abd
- jhj
    - hj
    - hj

# Bold and italics

**gitam**

*gitam*

In [2]:
print("Hello world")

Hello world

# variable

In [3]:
x=10
y=20
x+y

30

# Rules of variable
- name should begin with a character
- no special character allowed except underscore(_)

In [4]:
name ="sanjana"
age ="19"
print("my name is:",name,"age is:",age)

my name is: sanjana age is: 19

In [5]:
name=input("enter name")
age=int(input("enter age"))
print("my name is:",name,"age is:",age)

enter namesanjana
enter age19
my name is: sanjana age is: 19

In [7]:
x=int(input("enter x"))
y=int(input("enter y"))
print("x+y:",x+y)
print("x-y:",x-y)
print("x*y:",x*y)
print("x%y:",x%y)
print("x/y:",x/y)

enter x2
enter y3
x+y: 5
x-y: -1
x*y: 6
x%y: 2
x/y: 0.6666666666666666

# Fundamental datatypes

- int
- float
- complex
- boolean
- string

In [8]:
x=10
y=1.23
z=5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
c=complex(2,5)
print(c)

(2+5j)

In [10]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [12]:
a = 10
b = 20
a < b

True

# String

In [13]:
s1="abc"
s2="efg"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [14]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

# length of string

In [15]:
a=1234
print(len(str(a)))

4

In [16]:
n1=100 
a=b=c=20
a1,b1,c1=123,234,345
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 234 345

# precendence of the arth operators

- paranthesis
- power
- multiplication
- addition

In [20]:
x=1+2**3/4+5
print(x)

8.0

In [21]:
x=1+2**3/4*5
print(x)

11.0

# Operators

# # Arithmetic operators

- +
- -
- *
- /
- %
- **
- //

In [24]:
x=5
y=10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

15
-5
50
0.5
5
9765625
0

# Relational operators

- ==
- !=
- <
- '>'
- <=
- '>'=

In [25]:
x=5
a=x>10
print(a)

False

# Logical operators

- and
- or
- not

In [27]:
i=100
a1=(i>15) and (i>76)
a2=(i>567) or (i>3456)
print(a1)
print(a2)
print(not i)

True
False
False

# Membership operator

- in
- not in

In [28]:
str1= "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Control flow  statements

- conditional statements
- looping statements
## if-else statement
- syntax
### if condition:
> statements<br>
#### else:
> statements

In [31]:
# check given number is even or odd
n=int(input("enter a number"))
if n%2==0:
      print("even")
else:
      print("odd")

enter a number3
odd

In [33]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
     print("it is multiple of 3 and 5")
else:    
     print("its not")

enter a number15
it is multiple of 3 and 5

In [34]:
# check given number is positive,negative or zero
n=int(input("enter a number"))
if n>0:
print("it is positive")
else:    
if n<0:
print("it is negative")
else:
if n=0:
    print("it is zero")

IndentationError: expected an indented block (<ipython-input-34-60fbfecf45ca>, line 4)