# Collection of data structure types:
1. list
2. tuple
3. set
4. dictionary

# list
- one of the data structures in python
- data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets

### example
- list1=[1,2,3,4]
- list2==["gitam",1,2,3]

In [2]:
li = [1,8,16,9,2]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

[1, 8, 16, 9, 2]
16
16
[16, 9, 2]
[16, 9]
[16, 9]

In [4]:
li = ["Gitam",1234,1235,1236,"Hyd"]
print(li)
print(li[0][2])

['Gitam', 1234, 1235, 1236, 'Hyd']
t

In [5]:
del li[3]
print(li)

['Gitam', 1234, 1235, 'Hyd']

In [6]:
# update
li[1]=123
print(li)

['Gitam', 123, 1235, 'Hyd']

In [12]:
# basic list functions
li= [1,9,116,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

116
1
156
5
31

In [7]:
li= [1,9,116,25,5,9]
li.append(89)
li.insert(2,56)
li.count(9)
li.index(5)
li.sort()
li.pop()
li.pop(1)
li

[1, 9, 9, 25, 56, 89]

# Del-delete the list item from the list
### Pop-remove last index value
#### pop(index)-remove the items from specialized index

In [9]:
li=[1,9,116,25,5,9]
li1=[76,78,79]
li.extend(li1)
li.reverse()
li

[79, 78, 76, 9, 5, 25, 116, 9, 1]

In [11]:
# function to return the large number from given list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,45,76]
print(largenumber(li))
print(genericlarge(li,3))

76
25

In [13]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,25,45,76]
print(smallnumber(li))
print(genericsmall(li,3))

1
45

# Tuple
- its one common data structure in python,the items of tuple separated by comma and enclosed by paranthesis()
### example:
- ti=(1,2,3,4)

# List and Tuple
- in list are mutable- can be changed/modified
- list used to modify,add,delete,update
- tuple are immutable- cannot be changed
- tuple used access data only

In [14]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

# Dictionaries
1. It works on concept of set unique data
2. Dictionary contains keys and values
3. Each key and value separated by comma
4. Each key is separated from its value with colon(:)

In [16]:
d1={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@in', 'address': 'hyderabad'}

In [17]:
d1["name"]

'gitam'

In [18]:
d1={"name":"gitam","email":"gitam@in","address":"hyderabad"}
d1["name"]="sanjana"
d1

{'name': 'sanjana', 'email': 'gitam@in', 'address': 'hyderabad'}

In [19]:
d1["roll_no"]="221710311058"
d1

{'name': 'sanjana',
 'email': 'gitam@in',
 'address': 'hyderabad',
 'roll_no': '221710311058'}

In [20]:
del d1["email"]
d1

{'name': 'sanjana', 'address': 'hyderabad', 'roll_no': '221710311058'}

In [21]:
d1.keys()

dict_keys(['name', 'address', 'roll_no'])

In [22]:
d1.values()

dict_values(['sanjana', 'hyderabad', '221710311058'])

In [23]:
d1.items()

dict_items([('name', 'sanjana'), ('address', 'hyderabad'), ('roll_no', '221710311058')])

# Strings:

In [24]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [31]:
s1="python"
print(s1[0])
print(s1[len(s1)-2])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::1])
print(s1[::2])
print(s1[::3])
print(s1[::-1])

p
o
ytho
h
python
pto
ph

# String built in methods:
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [34]:
s1 ="Python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
False
False
True
False
True

In [35]:
s1=' '
print(s1.isspace())

True

## String Methods:
- join()
- split()
- replace()

In [36]:
s1="Python"
print(" ".join(s1))

P y t h o n

In [37]:
s1="Python programming easy to learn"
print(s1.split())

['Python', 'programming', 'easy', 'to', 'learn']

In [38]:
s1="Python programming easy to learn"
print(s1.replace("ing",'gitam'))

Python programmgitam easy to learn